body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #f7faff;
    padding-bottom: 80px;
}

header {
    background: url("/img/fondo.png");
    background-size: cover;     
    background-position: center;    
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding: 0.5rem;
    font-size: 1.5rem;
}

.container {
    padding: 1rem;
}

.card {
    background: white;
    border-radius: 12px;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card h4 {
    margin: 0;
    color: #2c3e50;
    font-size: 1.1rem;
}

.puntaje {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.3rem 0.8rem;
    border-radius: 10px;
}
.bajo {
    background: #ffe5e5;
    color: #c0392b;
}
.medio {
    background: #fff9db;
    color: #e67e22;
}
.alto {
    background: #e0f7e9;
    color: #27ae60;
}

.perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.perfil img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.perfil h2 {
    margin-top: 0.3rem; /* Menos espacio arriba */
}